{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "12"
                }
            }
        ]
    ],
    "plugins": ["syntax-flow", "transform-flow-strip-types"]
}